.about header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

.about header h1 {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.about section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.about section h2 {
    margin-top: 0;
    color: #333;
}

.about ul {
    padding-left: 20px;
}

.about ul li {
    margin-bottom: 10px;
}

/* Footer */
.about footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.about footer p {
    margin: 0;
}

.about button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}